#!/bin/bash

set -e

yum -y install docker git curl
systemctl start docker
usermod -a -G docker ec2-user

cd /usr/local/bin
curl -Lo kind \
  https://github.com/kubernetes-sigs/kind/releases/download/v${kind_version}/kind-linux-amd64
curl -Lo kubectl \
  https://storage.googleapis.com/kubernetes-release/release/v${kubectl_version}/bin/linux/amd64/kubectl
curl -Lo docker-compose \
   https://github.com/docker/compose/releases/download/${compose_version}/docker-compose-$(uname -s)-$(uname -m)
curl -L https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize/v${kustomize_version}/kustomize_v${kustomize_version}_linux_amd64.tar.gz \
   | tar -zxvf - -C .

chmod +x kubectl kind docker-compose

cd /usr/local
curl -LO https://dl.google.com/go/go${golang_version}.linux-amd64.tar.gz
tar -xvf go${golang_version}.linux-amd64.tar.gz

cat <<EOF >/etc/profile.d/go.sh
export GOROOT=/usr/local/go
export GOPATH=\$HOME/go
mkdir -p \$GOPATH
export PATH=\$GOPATH/bin:\$GOROOT/bin:\$PATH
EOF

echo "Installation succeeded" >/tmp/install.txt

